extends ../layout/index
block contenido 
     div.py-10
          h2.text-4xl.my-10.font-extrabold.text-center Bienes 
               span.font-normal Raices 
          h2.text-center.text-2x1.font-extrabold= page 

          .mt-8.mx-auto.max-w-md
              .bg-white.py-8.px-4.shadow
                  form(action="").space-y-5.px-6
                      div 
                          label.block.text-sm.text-gray-600.mb-2.font-nold Correo Electronico:
                          input#email.w-full.px-3.py-2.border.border-gray-300.rounded-x1.placeholder.gray-400(type="email" placeholder="ej: usuario@utgmail.com" name="correo_usuario")
                      .flex.item-center.justify-between
                          a.text-gray-500.text-xs(href="/auth/register"  class="hover:underline hover:decoration-2 hover:decoration-red-600") ¿No tinenes cuenta? Registrate
                          a.text-gray-500.text-xs(href="/auth/passwordRecovery"  class="hover:underline hover:decoration-2 hover:decoration-red-600") Olvide mi contraseña...
                      input(class="w-full bg-indigo-600 hover:bg-red-600 text-white font bold py-3 cursor-pointer" type="submit" value="Enviar confirmación")